$mobile-min: 480px;
$mobile-med: 570px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 960px;
$desktop-min: 961px;
$desktop-max: 1450px;
$ext-monitor-min: 1451px;

$galleria-min: 320px;
$galleria-sm: 450px;
$galleria-med: 600px;
$galleria-lg: 1000px;
$galleria-xl: 1400px;
$galleria-jumbo: 2000px;
$galleria-full: 2400px;
