$clear: transparent;
$black: #000;
$white: #fff;
$grey-bg: #191919;
$grey-dark: #292929;
$grey-medium: #777;
$grey-transparent: rgba(0,0,0,0.6);
$teal: #399;
$green-light: #6b0;
$green: #351;
$green-dark: #241;
$violet: #519;