.drawer {
    $drawer: &;

    background-color: $grey-dark;
    border-radius: 7px;
    color: $white;
    margin: 15px auto;

    &__heading {
        background-color: $teal;
        border-radius: 7px 7px 0 0;
        color: $white;
        font-weight: bold;
        padding: 15px;
    }

    &__content {
        line-height: 1.5;
        padding: 15px;

        .content-item {
            border-top: 1px solid $grey-very-light;
            margin-top: 30px;
            padding-top: 30px;
        }

        .h3 {
            font-size: 20px;
        }

        .details {
            font-weight: bold;
        }

        .date {
            font-style: italic;
        }

        .notes {
            list-style: outside square;
            padding-left: 20px;

            li {
                margin-top: 5px;
            }
        }
    }

    &__main {
        .content-item {
            border-top: medium none;
            margin-top: 0;
            padding-top: 0;
        }
    }

    &__more {
        &--hidden {
            @include safeHide;
        }
    }

    &__expand {
        background: linear-gradient($clear, $black);
        border: medium none;
        border-bottom: 2px solid $grey-dark;
        border-radius: 0 0 7px 7px;
        color: $white;
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding: 20px 15px 15px;
        text-align: left;
        width: 100%;

        &:hover, &:focus {
            background: linear-gradient($clear, $teal-dark);
            outline: 0;
        }
    }
}
