.drawer {
    $drawer: &;

    @include cardStyle;
    margin: 15px auto;
    position: relative;

    &__content {
        padding: 15px 30px;
        overflow: hidden;
        outline: none;

        a {
            color: $teal;

            &:hover, &:focus {
                color: $teal-dark;
            }
        }

        &--hidden {
            height: 200px;
        }
    }

    &__expand {
        background: linear-gradient($clear, $black);
        border: medium none;
        border-radius: 0 0 5px 5px;
        color: $white;
        display: block;
        font-size: 16px;
        font-weight: bold;
        padding: 60px 15px 15px;
        text-align: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        &:hover, &:focus {
            background: linear-gradient($clear, $teal-dark);
            outline: 0;
        }

        &:before, &:after {
            content: '+';
        }

        &--expanded {
            padding-top: 20px;
            position: static;
        }

        &--expanded:before,
        &--expanded:after {
            content: '-';
        }
    }
}
