/* Card */
.card {
  $root: &;

  background-color: $grey-dark;
  border-bottom: 2px solid $grey-medium;
  border-radius: 10px;
  color: $white;
  font-size: 16px;

  &__heading {
    align-items: center;
    background-color: $green;
    border-radius: 10px 10px 0 0;
    color: $white;
    display: flex;
    font: bold 24px/32px $cormorant;
    font-variant: small-caps;
    letter-spacing: 0.07em;
    min-height: 40px;
    padding: 0 20px;
  }

  &__content {
    line-height: 1.5;
    padding: 20px;

    a {
      color: $green-light;

      &:hover,
      &:focus {
        color: $teal;
      }
    }
  }
  p {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &--link {
    &:hover, &:focus {
      background-color: $black;

      #{$root}__heading {
        background-color: $violet;
      }
    }
  }
}

/* Pills */
.pill {
  background-color: $black;
  border: none;
  border-radius: 5px;
  color: $white;
  display: inline-block;
  padding: 5px 10px;
}

/* Filters */
.filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;

  &__btn {
    background-color: $green-dark;
    color: $white;
    font-weight: bold;

    &:hover, &:focus-visible {
      background-color: $violet;
    }

    &.active {
      background-color: $white;
      color: $violet;
    }
  }
}

/* InfoList */
.info-list {
  border-top: 1px solid $grey-medium;
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(0, max-content));
  grid-template-columns: repeat(2, 1fr);

  &__term {
    border-bottom: 1px solid $grey-medium;
    font-weight: bold;
    padding: 5px;
  }
  &__desc {
    border-bottom: 1px solid $grey-medium;
    padding: 5px;
  }
}
