/* Card */
.card {
  background-color: $grey-dark;
  border-bottom: 2px solid $grey-medium;
  border-radius: 5px;
  color: $white;
  font-size: 16px;

  &__heading {
    align-items: center;
    background-color: $green;
    border-radius: 5px 5px 0 0;
    color: $white;
    display: flex;
    font: bold 24px/32px $cormorant;
    font-variant: small-caps;
    letter-spacing: 0.07em;
    min-height: 40px;
    padding: 0 20px;
  }

  &__content {
    line-height: 1.5;
    padding: 15px 20px;

    a {
      color: $green-light;

      &:hover,
      &:focus {
        color: $teal;
      }
    }
  }
}

/* Parallelogram */
@mixin parallelogramHover {
  background-color: $white;
  color: $violet;
  text-decoration: none;

  &::before {
    border-bottom-color: $white;
  }
  &::after {
    border-top-color: $white;
  }
}
.parallelogram {
  background-color: $green;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  line-height: 14px;
  margin: 0 10px;
  padding: 5px;
  position: relative;
  text-decoration: none;
  transition: all 300ms ease-out;
  white-space: nowrap;

  &::before {
    @include triangleShape;
    border-bottom-color: $green;
    border-bottom-style: solid;
    border-bottom-width: 25px;
    border-left: 10px solid $clear;
    left: -10px;
    transition: all 300ms ease-out;
  }

  &::after {
    @include triangleShape;
    border-top-color: $green;
    border-top-style: solid;
    border-top-width: 25px;
    border-right: 10px solid $clear;
    right: -10px;
    transition: all 300ms ease-out;
  }

  &:not(.nohover):hover {
    @include parallelogramHover;
  }

  &.active {
    background-color: $violet;
    color: $white;

    &::before {
      border-bottom-color: $violet;
    }
    &::after {
      border-top-color: $violet;
    }
  }
}

/* Filters */
.filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}
