/* Card */
.card {
  background-color: $grey-dark;
  border-bottom: 2px solid $grey-medium;
  border-radius: 5px;
  color: $white;
  font-size: 16px;

  &__heading {
    align-items: center;
    background-color: $green;
    border-radius: 5px 5px 0 0;
    color: $white;
    display: flex;
    font: bold 24px/32px $cormorant;
    font-variant: small-caps;
    letter-spacing: 0.07em;
    min-height: 40px;
    padding: 0 20px;
  }

  &__content {
    line-height: 1.5;
    padding: 15px 20px;

    a {
      color: $green-light;

      &:hover,
      &:focus {
        color: $teal;
      }
    }
  }
  p {
    padding-bottom: 15px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

/* Parallelogram */
@mixin parallelogramHover {
  background-color: $white;
  color: $violet;
  text-decoration: none;
}
.parallelogram {
  background-color: $green;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  line-height: 14px;
  margin: 0 5px;
  padding: 5px 8px;
  text-decoration: none;
  transition: all $ease-out;
  transform: skew(-25deg);
  white-space: nowrap;

  span {
    display: inline-block;
    transform: skew(25deg);
  }

  &:hover, &:focus {
    @include parallelogramHover;
  }

  &.active {
    background-color: $violet;
    color: $white;
  }
}

/* Filters */
.filters {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
