.galleries {
  $root: &;

  margin: 0 auto;
  max-width: 600px;
  padding: 0 20px;

  li {
    margin-bottom: 20px;
  }

  &__link {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  .card {
    width: 100%;

    &__content {
      display: flex;
    }
  }

  &__img {
    display: block;
    height: 200px;
    width: 200px;
  }

  &__text {
    flex-grow: 1;
    font: 14px/20px $roboto;
    margin-left: 20px;
  }
}
