.galleria {
  max-width: $galleria-full;
  margin: 0 auto;

  &-row {
    display: flex;
    flex-wrap: wrap;
  }

  &-img {
    @include buttonReset;
    display: block;
    position: relative;
    overflow: hidden;

    &:after {
      border: 3px solid $teal;
      content: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &:hover:after,
    &:focus:after {
      content: "";
    }

    img {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  
    img.loaded {
      opacity: 1;
    }
  }

  &-small {
    filter: blur(10px);
    transform: scale(1);
  }

  &__lightbox {
    $lightbox: &;

    align-items: center;
    background: $grey-transparent;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    &__img {
      display: block;
      margin: 0 auto;
      max-height: 90%;
      max-width: 100%;
      padding: 0 50px;
    }

    &__title {
      font-weight: bold;
      padding: 15px 0 0;
      text-align: center;
    }

    &__close {
      background: $black;
      border: 2px solid $white;
      border-radius: 20px;
      color: $white;
      font-weight: bold;
      outline: 0;
      padding: 5px 10px;
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 2;

      &:hover,
      &:focus {
        background: $white;
        color: $black;
      }
    }

    &__nav {
      @include buttonReset;
      line-height: 1;
      position: fixed;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;

      &[title="Previous"] {
        left: 5px;
      }
      &[title="Next"] {
        right: 5px;
      }

      &:hover #{$lightbox}__icon-shape {
        fill: $teal;
      }
    }

    &__icon {
      height: 40px;
      width: 40px;

      &--prev {
        transform: rotate(90deg);
      }
      &--next {
        transform: rotate(-90deg);
      }

      &-shape {
        fill: $white;
      }
      &-symbol {
        fill: $black;
      }
    }
  }
}

@media screen and (max-width: $galleria-full) and (min-width: $galleria-jumbo) {
  .galleria {
    max-width: $galleria-jumbo;
  }
}
@media screen and (max-width: $galleria-jumbo) and (min-width: $galleria-xl) {
  .galleria {
    max-width: $galleria-xl;
  }
}
@media screen and (max-width: $galleria-xl) and (min-width: $galleria-lg) {
  .galleria {
    max-width: $galleria-lg;
  }
}
@media screen and (max-width: $galleria-lg) and (min-width: $galleria-med) {
  .galleria {
    max-width: $galleria-med;
  }
}
@media screen and (max-width: $galleria-med) {
  .galleria {
    max-width: $galleria-sm;
  }
}

@include mobile-min {
  .galleria__lightbox {
    &__img {
      padding: 0 40px;
    }
    &__icon {
      height: 30px;
      width: 30px;
    }
  }
}
