.galleria {
  max-width: $galleria-full;
  margin: 0 auto;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__img {
    $img: &;

    @include buttonReset;
    display: block;
    position: relative;
    overflow: hidden;

    img {
      opacity: 0;
      position: absolute;
      pointer-events: none;
      left: 0;
      top: 0;
      width: 100%;
    }
  
    img.loaded {
      opacity: 1;
    }

    &__text {
      align-items: center;
      background-color: $grey-transparent;
      display: none;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      pointer-events: none;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 1;
    }

    &__title {
      color: $white;
      font: bold 18px/24px $cormorant;
      letter-spacing: 0.07em;
      text-shadow: 1px 1px 1px $black;
    }

    &:hover, &:focus {
      #{$img}__text {
        display: flex;
      }
    }
  }

  &__loader {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    $grey-medium;
    background-size: 200% 100%;
    background-position: 0 0;
    border: 1px solid $grey-bg;
    content: "";
    display: block;
    height: 100%;
    animation: skeleton 2s linear infinite;

    &.large-loaded {
      display: none;
    }
  }

  /* LIGHTBOX */
  &__lightbox {
    $lightbox: &;

    align-items: center;
    background: $grey-transparent;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;

    &__img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
      max-width: 100%;
      padding: 0 10px;

      &:hover + #{$lightbox}__caption {
        opacity: 0;
      }
    }

    &__caption {
      align-items: center;
      background-color: $grey-transparent;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      opacity: 1;
      padding: 10px;
      position: absolute;
      transition: opacity $ease-out;
      width: 100%;
    }

    &__title {
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      text-align: center;
    }

    &__info {
      font-size: 14px;
      font-weight: normal;
    }

    &__close {
      background: $black;
      border: 2px solid $white;
      border-radius: 20px;
      color: $white;
      font-weight: bold;
      outline: 0;
      padding: 5px 10px;
      position: fixed;
      right: 15px;
      top: 15px;
      z-index: 2;

      &:focus {
        border-color: $green-light;
        color: $green-light;
      }
      &:hover {
        background: $white;
        border-color: $white;
        color: $black;
      }
    }

    &__nav {
      @include buttonReset;

      &:hover #{$lightbox}__icon-shape {
        fill: $green-light;
      }
    }

    &__icon {
      height: 30px;
      width: 30px;

      &--prev {
        transform: rotate(90deg);
      }
      &--next {
        transform: rotate(-90deg);
      }

      &-shape {
        fill: $white;
      }
      &-symbol {
        fill: $black;
      }
    }
  }
}

/* Animation */
@keyframes skeleton {
  0% {
    background-position: 200% 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* Responsive */
@media screen and (max-width: $galleria-full) and (min-width: $galleria-jumbo) {
  .galleria {
    max-width: $galleria-jumbo;
  }
}
@media screen and (max-width: $galleria-jumbo) and (min-width: $galleria-xl) {
  .galleria {
    max-width: $galleria-xl;
  }
}
@media screen and (max-width: $galleria-xl) and (min-width: $galleria-lg) {
  .galleria {
    max-width: $galleria-lg;
  }
}
@media screen and (max-width: $galleria-lg) and (min-width: $galleria-med) {
  .galleria {
    max-width: $galleria-med;
  }
}
@media screen and (max-width: $galleria-med) and (min-width: $galleria-sm) {
  .galleria {
    max-width: $galleria-sm;
  }
}
@media screen and (max-width: $galleria-sm) {
  .galleria {
    max-width: $galleria-sm;

    &__row {
      flex-direction: column;
    }
    &__img {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 5px;

      img {
        position: relative;
      }

      &__text {
        background: none;
        display: block;
        padding: 5px;
        position: static;
      }

      &:hover, &:focus {
        background-color: $green;
      }
    }
  }
}
@include tablet-max-landscape {
  .galleria {
    &__lightbox {
      flex-direction: row;
      justify-content: space-between;

      &__img {
        flex-shrink: 1;
        max-width: 80%;
      }

      &__caption {
        height: 100%;
        position: relative;
        width: 20%;
      }

      &__nav {
        bottom: 10px;
        position: absolute;

        &--prev {
          left: 10px;
        }
        &--next {
          right: 10px;
        }
      }
    }
  }
}
