.galleries {
  $root: &;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  max-width: 1800px;

  &__link {
    position: relative;

    &:hover,
    &:focus {
      #{$root}__text {
        display: flex;
      }
    }
  }

  &__img {
    display: block;
    max-width: 100%;
  }

  &__text {
    align-items: center;
    background-color: $green-semi;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  &__title {
    color: $white;
    font: bold 22px/30px $cormorant;
    letter-spacing: 0.07em;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px $black;
  }

  &__subtitle {
    @include parallelogram($teal);
  }
}

@include mobile-med {
  .galleries {
    grid-template-columns: repeat(2, 1fr);
  }
}