.sr-text {
    @include safeHide;
}
body {
    background-color: $grey-very-dark;
}
.header {
    align-items: center;
    background-color: $teal;
    border-bottom: 7px solid $teal-dark;
    display: flex;
    flex-direction: column;
    height: 125px;
    justify-content: center;
    padding: 0 15px;

    &__logo {
        @include nounderline;
        background: url(~img/global/charlie-logo-default.png) no-repeat scroll 0 0 transparent;
        display: block;
        height:75px;
        width: 275px;
    }
}

.nav {
    display: flex;
    justify-content: center;

    &__link {
        @include nounderline;
        color: $white;
        font-size: 16px;
        font-weight: bold;
        margin: 0 5px;
        outline: 0;
        padding: 0 0 3px;

        &:hover,
        &:focus {
            border-bottom: 2px solid $teal-dark;
        }

        &--active {
            border-bottom: 2px solid $white;
        }
    }
}

.content {
    color: $white;
}

.h1 {
    font-size: 32px;
    font-weight: 300;
    padding: 15px 0;
    text-align: center;
}

.h2 {
    font-size: 18px;
    padding: 0 0 15px;
    text-align: center;
}

.big-btn-wrap {
    margin: 15px auto 30px;
    text-align: center;
}

.btn {
    @include btn;
}

.big-btn {
    @include btn;
    font-size: 20px;
    padding: 15px 30px;
}

.eyebrow {
    padding-top: 15px;
    text-align: center;

    &__link {
        color: $teal;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover, &:focus {
            color: $grey-very-light;
        }
    }
}

.copyright-note {
    color: $grey-medium;
    font-size: 12px;
    line-height: 16px;
    margin: 10px auto 30px;
    max-width: 250px;
    text-align: center;
    
    a {
        color: $grey-medium;

        &:hover, &:focus {
            color: $teal;
        }
    }
}

@include retina {
    .header {
        &__logo {
            background-image: url(~img/global/charlie-logo-default-2x.png);
            background-size: 275px 75px;
        }
    }
}

@mixin mobile-header {
    .header {
        height: 90px;

        &__logo {
            background-image: url(~img/global/charlie-logo-mobile.png);
            background-size: 160px 44px;
            height: 44px;
            width: 160px;

            @include retina {
                background-image: url(~img/global/charlie-logo-mobile-2x.png);
            }
        }
    }
}

@include mobile-max-landscape {
    @include mobile-header;
}

@include mobile-med {
    @include mobile-header;
}

@include mobile-min {
    .big-btn {
        font-size: 16px;
        padding: 15px;
    }
}