.sr-text {
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.header {
  .logo {
    background: url('../img/global/charlie-logo-gray.jpg') no-repeat scroll 0 0 transparent;
    display: block;
    height: 86px;
    width: 327px;
  }
}