@mixin safeHide {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

@mixin nounderline {
	&:hover, &:focus {
		text-decoration:none;
	}
}

@mixin buttonReset {
	background: none transparent;
	border: medium none;
	padding: 0;
	outline: 0;
}

@mixin cardStyle {
	background-color: $grey-dark;
	border-bottom: 2px solid $grey-medium-dark;
	border-radius: 5px;
	color: $white;

	&__heading {
		align-items: center;
		background-color: $green;
		border-radius: 5px 5px 0 0;
		color: $white;
		display: flex;
		font-weight: bold;
		height: 40px;
		padding: 0 15px;
	}

    &__content {
        line-height: 1.5;
	}
}

@mixin retina {
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		@content;	
	}
}

@mixin mobile-min {
	@media screen and (max-width: $mobile-min) {
		@content;
	}
}

@mixin mobile-med {
	@media screen and (max-width: $mobile-med) {
		@content;
	}
}

@mixin mobile-max {
	@media screen and (max-width: $mobile-max) {
		@content;
	}
}

@mixin mobile-max-landscape {
	@media screen and (max-width: $mobile-max) and (orientation: landscape) {
		@content;
	}
}

@mixin tablet-max {
	@media screen and (max-width: $tablet-max) {
		@content;
	}
}