$ease-out: 300ms ease-out;

@mixin safeHide {
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

@mixin nounderline {
	&:hover, &:focus {
		text-decoration:none;
	}
}

@mixin buttonReset {
	background: none transparent;
	border: medium none;
	padding: 0;
	outline: 0;
}

@mixin triangleShape {
	content: "";
	display: block;
	height: 0;
	position: absolute;
	top: 0;
	width: 0;
}

@mixin lightTheme {
	html[data-theme="light"] {
		@content;
	}
}
