.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 0 15px;
}

.contact {
  $contact: &;

  margin: 10px auto;
  padding-top: 10px;
  text-align: center;

  &__photo {
    display: inline-block;
    width: 230px;
  }

  &__tooltip {
    background-color: $white;
    border-radius: 7px;
    color: $black;
    display: inline-block;
    font-size: 14px;
    left: -9999px;
    margin-bottom: 10px;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: -9999px;

    &:after {
      border-left: 10px solid $clear;
      border-right: 10px solid $clear;
      border-top: 10px solid $white;
      content: "";
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &__link-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }

  &__link {
    display: inline-block;
    outline: 0;
    position: relative;

    svg {
      border-radius: 10px;
      fill: $teal;
      height: 40px;
      transition: fill $ease-out;
      width: 40px;
    }

    .fill-dark {
      fill: $black;
    }

    .rounded-square {
      background-color: $teal;

      path {
        fill: $black;
      }
    }

    &:hover,
    &:focus {

      svg {
        background-color: $violet;
        fill: $white;
      }

      .fill-dark {
        fill: $black;
      }

      .rounded-square {
        background-color: $white;

        path {
          fill: $violet;
        }
      }

      #{$contact}__tooltip {
        bottom: 100%;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
      }
    }
  }
}

@include mobile {
  .contact {
    &__link-row {
      justify-content: center;
    }
  }
}

@include mobile-med {
  .contact {
    &__photo {
      width: 150px;
    }
  }
}
