.homepage {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 20px auto;
}

.contact {
    $contact: &;

    align-items: center;
    display: flex;
    margin-bottom: 15px;

    &__photo {
        display: inline-block;
        width: 230px;
    }

    &__info {
        margin-left: 30px;
    }

    &__name {
        font-size: 32px;
        font-weight: 100;
        padding: 0 0 15px;
    }
    
    &__subtitle {
        font-size: 20px;
        font-weight: bold;
        padding: 5px 0 0;
    }

    &__tooltip {
        background-color: $grey-very-light;
        border-radius: 7px;
        color: $black;
        display: inline-block;
        font-size: 14px;
        left: -9999px;
        margin-bottom: 10px;
        padding: 5px 10px;
        position: absolute;
        text-align: center;
        top: -9999px;

        &:after {
            border-left: 10px solid $clear;
            border-right: 10px solid $clear;
            border-top: 10px solid $grey-very-light;
            content: '';
            left: 50%;
            position: absolute;
            top: 100%;
            transform: translateX(-50%);
        }
    }

    &__link {
        display: inline-block;
        margin: 0 10px 0 0;
        outline: 0;
        position: relative;

        &:last-child {
            margin: 0;
        }

        svg {
            height: 50px;
            width: 50px;
        }

        path {
            fill: $teal;
        }

        &:hover, &:focus {
            path {
                fill: $grey-very-light;
            }

            #{$contact}__tooltip {
                bottom: 100%;
                left: 50%;
                top: auto;
                transform: translateX(-50%);
            }
        }
    }
}

@include mobile-large {
    .contact {
        display: block;
        margin: 0;
        text-align: center;

        &__info {
            margin: 15px 0;
        }
    }
}